name: Bundle Arturo app

on:
    push:
        paths-ignore:
            - 'LICENSE'
            - '*.md'
        branches:
            - main
    pull_request:
        paths-ignore:
            - 'LICENSE'
            - '*.md'
    workflow_dispatch:

concurrency: 
    group: ${{ github.workflow }}-${{ github.ref }}
    cancel-in-progress: true

jobs:
    Bundle:
        runs-on: ${{ 
            (matrix.os == 'linux')   && (matrix.arch == 'arm64' && 'ubuntu-24.04-arm' || 'ubuntu-latest') ||
            (matrix.os == 'macos')   && (matrix.arch == 'arm64' && 'macos-latest' || 'macos-15-intel') ||
            (matrix.os == 'windows') && 'windows-latest' ||
            (matrix.os == 'freebsd') && 'ubuntu-latest' ||
                                        'ubuntu-latest' }}
        strategy:
            matrix:
                include:
                    - {os: linux,   arch: amd64}
                    - {os: linux,   arch: arm64}
                    - {os: macos,   arch: amd64}
                    - {os: macos,   arch: arm64}
                    - {os: windows, arch: amd64}
                    - {os: freebsd, arch: amd64}
        
        defaults:
            run:
                shell: ${{ 
                    (matrix.os == 'freebsd') && 'freebsd {0}' ||
                    (matrix.os == 'windows') && 'msys2 {0}'   || 
                                                'bash'        }}
        
        steps:
            - uses: actions/checkout@v4

            - uses: ./
              with: 
                token: ${{ secrets.GITHUB_TOKEN }}
                os: ${{ matrix.os }}
                arch: ${{ matrix.arch }}
                entry: tests/testbundle.art
                release: 'true'
                version: 1.0.0

            - name: Run tests
              run: |
                cd $GITHUB_WORKSPACE
                ./testbundle